/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body{
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;  
    width:100vw;
    height:100vh;
    overflow: hidden;
    /* remove scrollbars (vertical and horizontal) */
}

.gamewindow{
    display:flex;
    position:relative;
    height: 100vh;
    width: 100vw;
    background-color:black;
}

/* ---------- UI BUTTONS START ---------- */
.volumebtn{
    background-image: url("assets/icon/mute.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* determines background image size */
    position: absolute;
    height: 4.5vh;
    width: 2.5vw;
    margin: 1vw;
}

.homebtn{
    background-image: url("assets/icon/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 4.5vh;
    width: 2.5vw;
    margin: 1vw;
    top: 12vh;
    left: -0.11vw;
    display:none;
}

#speedupbtn{
    background-image: url("assets/icon/rabbit.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 4.5vh;
    width: 2.5vw;
    margin: 1vw;
    top: 6vh;
    left: -0.11vw;
}

#slowdownbtn{
    background-image: url("assets/icon/tortoise.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 4.5vh;
    width: 2.5vw;
    margin: 1vw;
    top: 6vh;
    left: -0.11vw;
    display:none;
}

/* ---------- UI BUTTONS END ---------- */

/* ---------- HOME PAGE START --------- */
#homepage-buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    height:35vh;
    width:30vw;
    bottom: 25vh;
    justify-content:space-around;
    align-items: center;
}

.homepagebutton{
/* individual buttons */
    width: 20vw;
    height: 13vh;
    border-radius:10vw;
    border: 0.3vw solid burlywood;
    box-shadow: 0 0 10px 2px;
    background-color: rgba(248, 223, 190, 0.452);
    font-family: 'Griffy', cursive;
    font-size: 2vmax;
    color:white;
}

.homepagebutton:hover{
    background-color:rgba(182, 41, 41, 0.637);
}


#instructioncontent{
    position: absolute;
    top: 22vh;
    left: 35vw;
    width: 30vw;
    height: 58vh;
    padding: 20px;
    border: 1px solid #ccc;
    background-image: url('assets/Image/instructiontexture.png');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow:auto;
    box-shadow: 0 0 10px 2px;
    display:none;
    color:rgb(186, 81, 81);
    z-index:1;
}

#instructionclosebtn{
    float:right;
    background-color: white; 
    font-family: 'Gemunu Libre', sans-serif;
    border-radius: 12vw;
    border: 0.1vw solid white;
    width:6vw;
}

#instructionclosebtn:hover{
    cursor: pointer;
    background-color: black;
    color:white;
}

.instructionlogo{
    height:6vh;
    margin-right:1vh;
    float:left;
    background-color:black;
}

/* Instruction modal */
p{
    color:black;
    text-align:left;
    line-height:120%;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.4vmax;
}

.instructionheadings{
 color:rgb(186, 81, 81);
 font-weight: bold;
 font-family: 'Gemunu Libre', sans-serif;
 font-size: 1.4vmax;
 text-decoration: underline;
}

/* ---------- HOME PAGE END ----------- */

/* ---------- GAMEPLAY START----------- */

.startingphoto{
    width:100vw;
    height:100vh;
    object-fit: cover;
}

.inventory{
    position:relative;
    height:13vh;
    width:0vw;
    top: 5vh;
    left:90vw;
}

.items{
    height: 12vh;
    width: 8vw;
    background-color: rgba(218, 190, 149, 0.466);
    border: 0.3vw solid rgba(17, 10, 2, 0.7);
    border-radius: 2vw;
}

.questionbox{
    position:absolute;
    height:6vw;
    width:89vw;
    background-image: url('assets/Image/instructiontexture.png');
    opacity: 0.8;
    background-size: 200vw;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Griffy', cursive;
    font-size: 1.4vmax;
    font-weight:bolder;
    /* 1vman will return 1% of the largest viewport dimension, be it either the viewport width (vw) or its height (vh) */
    text-align: center;
    letter-spacing: 0.05vw;;
    bottom: 10vh;
    padding: 2vh 5vw;
    color: black;
}

.option-buttons{
    position: absolute;
    height:10vh;
    width:99vw;
    background-color: rgba(71, 88, 63, 0.4);
    /* if it's percentage it is relative to parent element. if its vh/vw,it's relative to the viewport */
    display:flex;
    flex-flow:row nowrap;
    bottom: 0vh;
    justify-content:space-evenly;
    padding:0px;
    border-radius: 5px;
}

.button{    
    margin: 1.2vh;
    border-radius: 3vh;
    flex-grow:1;
    color:white;
    background-color:rgba(74,68,59,0.4);
    box-shadow: 0 0 10px 2px;
    font-family: 'Griffy', cursive;
    font-size:4.5vh;

}

.button:hover{
    background-color:rgba(182, 41, 41, 0.637);
}

video{
    object-fit:cover;
    position:absolute;
    width:100vw;
    height:100vh;
    overflow:hidden;
    top: 0;
    left: 0;

}

.story-button{
    margin: 1.2vh;
    border-radius: 3vh;
    flex-grow:1;
    color:white;
    background-color:rgba(42, 39, 35, 0.4);
    box-shadow: 0 0 10px 2px;
    font-family: 'Griffy', cursive;
    font-size:4.5vh;
}

.story-button:hover{
    background-color:rgba(182, 41, 41, 0.637);
}


.game-input{
    text-align: center;
    margin: 1.2vh;
    border-radius: 3vh;
    flex-grow:1;
    color:white;
    background-color:rgba(209, 127, 20, 0.452);
    box-shadow: 0 0 10px 2px;
    font-family: 'Griffy', cursive;
    font-size:4.5vh;
}

/* ---------- GAMEPLAY END----------- */


/* -- MOMO JUMPSCARE ANIMATION START -*/

.shake{
    animation: shake 0.3s;
    animation-iteration-count: 7;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-12px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(13px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-20px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(20px, 0, 0);
    }
  }

/* --- MOMO JUMPSCARE ANIMATION END --*/