@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
/* use nicer fonts */


body{
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;  
    width:100vw;
    height:100vh;
    /* overflow: hidden; */
    /* remove scrollbars (vertical and horizontal) */
}

.gamewindow{
    display:flex;
    position:relative;
    height: 100vh;
    width: 100vw;
    background-color:black;
}

.volumebtn{
    background-image: url("/assets/icon/volume.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* determines background image size */
    position: absolute;
    height: 4.5vh;
    width: 2.5vw;
    margin: 1vw;
}

.homebtn{
    background-image: url("/assets/icon/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* determines background image size */
    position: absolute;
    height: 4.5vh;
    width: 2.5vw;
    margin: 1vw;
    top: 6vh;
    left: -0.11vw;
}


.inventory{
    position:relative;
    /* background-color: rgba(241, 151, 14, 0.8); */
    height:13vh;
    width:5vw;
    top: 5vh;
    left:90vw;
}

.items{
    /* background-color: red; */
    height: 12vh;
    width: 8vw;
    background-color: rgba(209, 144, 46, 0.466);
    border: 0.3vw solid rgba(17, 10, 2, 0.7);
    border-radius: 2vw;
}

.questionbox{
    position:absolute;
    height:6vw;
    width:89vw;
    /* top:80vh; */
    background-color: rgba(165, 135, 60, 0.5);
    font-family: 'Griffy', cursive;
    font-size: 3vh;
    text-align: center;
    bottom: 10vh;
    padding: 3vh 5vw;
    color: white;
}

.option-buttons{
    position: absolute;
    height:10vh;
    width:99vw;
    background-color: rgba(71, 88, 63, 0.4);
    /* if it's percentage it is relative to parent element. if its vh/vw,it's relative to the viewport */
    display:flex;
    flex-flow:row nowrap;
    bottom: 0vh;
    justify-content:space-evenly;
    padding:0px;
    border-radius: 5px;
}

video{
    object-fit:cover;
    position:absolute;
    width:100vw;
    height:100vh;
    overflow:hidden;
    top: 0;
    left: 0;

}

#homepage-buttons{
/* div */
    position: absolute;
    display: flex;
    flex-direction: column;
    height:50vh;
    width:30vw;
    /* if it's percentage it is relative to parent element. if its vh/vw,it's relative to the viewport */
    bottom: 15vh;
    justify-content:space-around;
    align-items: center;
}

.homepagebutton{
/* indiv buttons */
    width: 20vw;
    height: 13vh;
    border-radius:10vw;
    border: 0.3vw solid burlywood;
    box-shadow: 0 0 10px 2px;
    background-color: rgba(248, 223, 190, 0.452);
    font-family: 'Griffy', cursive;
    font-size:4.5vh;
    color:white;
}

.homepagebutton:hover{
    background-color:rgba(182, 41, 41, 0.637);
}

/* instruction box */
#instructioncontent{
    position: absolute;
    top: 22vh;
    left: 35vw;
    width: 30vw;
    height: 58vh;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(222, 184, 135);
    text-align: center;
    box-shadow: 0 0 10px 2px;
    display:none;
    color:white;
    z-index:100;
}

#instructionclosebtn{
    float:right;
}

.closebtn{
    border: 1px solid black;
}

/* credit box */

#creditscontent{
    position: absolute;
    top: 22vh;
    left: 35vw;
    width: 30vw;
    height: 58vh;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(222, 184, 135);
    text-align: center;
    box-shadow: 0 0 10px 2px;
    display:none;
    color:white;
    z-index:100;
}

#creditsclosebtn{
    float:right;
}


.button{    
    margin: 1.2vh;
    border-radius: 3vh;
    flex-grow:1;
    color:white;
    background-color:rgba(74,68,59,0.4);
    box-shadow: 0 0 10px 2px;
    font-family: 'Griffy', cursive;
    font-size:4.5vh;

}

.button:hover{
    background-color:rgba(182, 41, 41, 0.637);
}

.story-button{
    margin: 1.2vh;
    border-radius: 3vh;
    flex-grow:1;
    color:white;
    background-color:rgba(42, 39, 35, 0.4);
    box-shadow: 0 0 10px 2px;
    font-family: 'Griffy', cursive;
    font-size:4.5vh;
}

.story-button:hover{
    background-color:rgba(182, 41, 41, 0.637);
}


.game-input{
    text-align: center;
    margin: 1.2vh;
    border-radius: 3vh;
    flex-grow:1;
    color:white;
    background-color:rgba(209, 127, 20, 0.452);
    box-shadow: 0 0 10px 2px;
    font-family: 'Griffy', cursive;
    font-size:4.5vh;
}



.nodeimg{
    width:100vw;
    height:80vh;
    object-fit: fill;
}

.robodog{
    width:100vw;
    height:80vh;
    object-fit: cover;
}

.startingphoto{
    width:100vw;
    height:100vh;
    object-fit: cover;
}

.shake{
    animation: shake 0.3s;
    animation-iteration-count: 7;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-12px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(13px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-20px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(20px, 0, 0);
    }
  }